################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages/dnlib.3.3.2
/obj
/.vs/Unturned_32BitServerSetup/v16
